#blog-categories
	height 100vh
	padding-left $padding
	.flickity-viewport
		overflow initial !important
		position fixed
		height 100%
		width 100%
		top 0
		left $padding
	

section.blog-section
	span(1/2.4)
	height 100%
	overflow hidden
	&.is-selected
		overflow scroll
		.blog-category--image
			transition-delay 0.8s
			transform "translateY(calc(%s - 100%)) translateZ(0)" % $padding
		.blog-posts
			transition-delay 0.8s
			transform translateZ(0)

.blog-category--image
	transition transform 0.8s ease
	position absolute
	width 100%
	height 100vh
	background-size cover
	background-position center

.blog-posts
	transition transform 0.8s ease
	transform translateY(100vh) translateZ(0)
	padding 0 ($padding/2) $padding
	margin-top ($font_header*2)

.blog-item
	span(1)
	margin-bottom ($font_header*2)

.item-header, .item-chapeau
	span(1)

.blog-item--type, .blog-item--date
	column(1/2)
	margin 1em 0

.item-chapeau
	margin-bottom 1em