#blog-categories
	height 100vh
	padding-left $padding
	> .flickity-viewport
		overflow initial !important
		position fixed
		height 100%
		width 100%
		top 0
		left $padding
	

section.blog-section
	span(1/2.4)
	height 100%
	overflow hidden
	&.is-selected
		overflow scroll
		.blog-category--image
			transition-delay 0.8s
			transform "translateY(calc(%s - 100%)) translateZ(0)" % $padding
		.blog-posts
			transition-delay 0.8s
			transform translateZ(0)

.blog-category--image
	transition transform 0.8s ease
	position absolute
	width 100%
	height 100vh
	background-size cover
	background-position center

.blog-posts
	transition transform 0.8s ease
	transform translateY(100vh) translateZ(0)
	padding-bottom $padding
	margin-top ($font_header*2)
	img
		display block

.blog-item
	span(1)
	margin-bottom ($font_header*2)

.blog-item--header, .blog-item--chapeau, #search-header
	span(1)
	padding 0 ($padding/2)

#search-header
	margin-bottom 2em

.blog-item--type, .blog-item--date
	column(1/2)
	margin 1em 0

.blog-item--chapeau, .blog-item--featured
	span(1)
	margin-bottom 1em

.blog-item--content
	span(1)
	section
		span(1)

.post-content
	span(1)
	margin-bottom $padding

.post-content.content--text, .post-content.content--embed
	padding 0 ($padding/2)

.post-content.content--images
	height 40rem
	.flickity-viewport
		height 40rem
	.cell
		height 40rem
		img
			display block
	.flickity-prev-next-button .arrow
		fill $secondary
	.flickity-prev-next-button
		background transparent
	.flickity-prev-next-button.next
		right 0
	.flickity-prev-next-button.previous
		left 0