header
	span(1/2.4)
	position fixed
	padding $padding
	top $padding
	left $padding
	z-index 100
	height 'calc(100vh - %s)' % ($padding*2)
	ul
		visibility hidden
	&.visible
		background $primary
		ul
			visibility visible

#site-title
	font-size $font_header

[data-target="menu"]

#switch
	margin 1em 0
	li
		&.active
			text-decoration underline
			-webkit-text-decoration-skip ink
			text-decoration-skip ink

[data-switch]
	cursor pointer

.inline-nav > li
	display inline-block
	line-height 1.2
	&:not(:last-child)
		margin-right 1em

.navigation
	font-size $font_header
	display none
	&.active
		display block

#socials
	margin-top 1em