@import 'nib'
@import '../../node_modules/jeet/styl/index'
@import '_mixins.styl'

// Media queries
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 767px

// Colors
$primary ?= #fff
$secondary ?= #000
$accent ?= #ff0000

// Metrics
$padding = 1.5rem
$kinetic = cubic-bezier(0.77, 0, 0.175, 1)

// Type
$font = 2rem
$font_mobile = 1rem
$font_header = 4vw
$font_header_mobile = 9vmin

// CSS Reset
global-reset()

webfont('NH', 'NH', true, 'normal')
webfont('NHI', 'NHI', true, 'normal')

@import '_main'
@import '_loader'
@import '_header'
@import '_blog'
