@import 'nib'
@import '../../node_modules/jeet/stylus/jeet/*'
@import '_mixins.styl'

// Media queries
$xl = 1600px
$lg = 1260px
$md = 1023px
$sm = 767px

// Colors
$primary ?= #fff
$secondary ?= #000
$accent ?= #ff0000

// Metrics
$padding = 10px
$kinetic = cubic-bezier(0.77, 0, 0.175, 1)

// CSS Reset
global-reset()

//webfont('Franklin Gothic', 'franklingothic', true, 'normal')

body,html
	width 100%
	-webkit-text-size-adjust 100%
	background $primary

html
	font-size 62.5%

body
	font-family Helvetica Neue, Arial, sans-serif
	font-size 1rem
	text-rendering optimizeLegibility
	font-smoothing()

p
	margin-bottom 1em
	line-height 100%

p:last-child
	margin-bottom 0

::selection
	background $secondary
	
::-moz-selection
	background $secondary

*
	hideselect()
	box-sizing(border-box)

a, a:hover, a:visited, a:focus
	color inherit
	text-decoration none
	cursor pointer

#outdated
	display none
	text-align center
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	background $primary
	z-index 900
	a
		border-bottom 1px solid
	.inner
		padding 8rem 20%

.no-js, .no-svg, .no-flexbox
	#outdated
		display block

// @keyframes color {
//     100%, 0% {
//         stroke: #40382e
//     }
//     40% {
//         stroke: #0f0f0f
//     }
//     66% {
//         stroke: #40382e
//     }
//     80%, 90% {
//         stroke: #0f0f0f
//     }
// }

@keyframes rotate {
    100% {
        transform(rotate(360deg))
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0
    }
    30% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px
    }
}

.loader
	position fixed
	width 100%
	height 100%
	top 0
	left 0
	//background $primary url('../../images/loader.gif') center no-repeat
	background $primary
	background-size 15px
	z-index 10000
	.spinner
		width 50px
		height 50px
		align()
		.circular
			animation rotate 2s linear infinite
			height 100%
			transform-origin center center
			width 100%
			position absolute
			top 0
			bottom 0
			left 0
			right 0
			margin auto
			.path
				stroke $secondary
				stroke-dasharray 1, 200
				stroke-dashoffset 0
				animation dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite