header
	span(1/2.4)
	position fixed
	padding $padding ($padding/2)
	top $padding
	left $padding
	z-index 500
	overflow hidden
	// transition background-color 200ms ease
	// background $primary
	+below($md)
		width 'calc(100% - %s)' % ($padding*2)
	#current-title
		position relative
		z-index 20
		// overflow hidden
		+above($md + 1)
			font-size $font_header
		+below($md)
			font-size $font_header_mobile
	#menu-arrow
		width 1em
		height 1em
		position absolute
		top 0
		right 0
		svg
			position absolute
			bottom .15em
			left 0
			#a-left
				transition transform 300ms ease
		span
			position absolute
			top 0
			width 66%
			height .05em
			background $secondary
			&:first-child
				left 0
				transform rotate(45deg)
				transform-origin top left
			&:last-child
				right 0
				transform rotate(-45deg)
				transform-origin top right
	#section-title
		position absolute
		width 100%
		top 0
		left 0
	#site-title, #section-title
		transition transform 1000ms ease
		line-height 95%
		min-height 1em
		&.hidden
			transform translateX(-100%) translateZ(0)
	#menu
		position relative
		z-index 20
	#menu-background
		content ''
		span(1/2.4)
		position fixed
		height 'calc(100vh - %s)' % ($padding*2)
		top $padding
		left $padding
		background $primary
		z-index 0
		+below($md)
			width 'calc(100% - %s)' % ($padding*2)
	#menu, #menu-background
		display none
	&.menu-open
		#site-title
			transform none
		#section-title
			transform translateX(-100%) translateZ(0)
		#menu, #menu-background
			display block
		#menu-arrow
			svg #a-left
				transform translateX(3.3rem) translateZ(0)

[data-target="menu"]
	cursor pointer

#switch
	margin 1em 0
	li
		&.active
			text-decoration underline
			-webkit-text-decoration-skip ink
			text-decoration-skip ink

[data-switch]
	cursor pointer

.inline-nav > li
	display inline-block
	line-height 1.2
	&:not(:last-child)
		margin-right 1em

.navigation
	display none
	+above($md + 1)
		font-size $font_header
	+below($md)
		font-size $font_header_mobile
	li
		white-space nowrap
		line-height 95%
		min-height 1em
	&.active
		display block

#search
	margin-top 1em
	width 50%

#socials
	margin-top 1em